
body {
	font-family: lores-15-narrow, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 25pt;
	background: rgb(119, 195, 196);
	text-align: center;
    background-size: cover;
}

img{
	width: 30%;
}

.header{
font-size: 40pt;
font-family: lores-9-narrow, sans-serif;
font-weight: 700;
font-style: normal;
}

.header1{
	font-size: 15pt;
	opacity: 0.4;
	line-height: 0;
}

a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

a :hover{
	color: white;
	opacity: 0.5;
}

.content{
	line-height: 35pt;
}

.confeti{
	width: 80%;
	position: fixed;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -2;
	opacity: 0.7;
}

li {
    list-style-position: inside;
}