html, body {
	margin: 0;
	width: 0;
}

.red {
    background-color: #dd0100;
	position: absolute;
	width: 100%;
	height: 100%;
}

.blue {
	background-color: #225095;
	position: fixed;
	width: 25%;
	height: 25%;
	border-right: 25px solid black;
	border-top: 25px solid black;
	bottom: 0px;
}


.white2 {
	background-color: white;
	position: fixed;
	width: 25%;
	height: 50%;
	border-right: 25px solid black;
	border-bottom: 50px solid black;
	top: 340px;
}


.white {
	background-color: white;
	border-bottom: 45px solid black;
	border-right: 25px solid black;
	position: fixed;
	top: 0px;
	width: 25%;
	height: 35%;
}


.yellow {
	background-color: #fac901;
	position: fixed;
	width: 10%;
	height: 10%;
	border-left: 25px solid black;
	border-top: 40px solid black;
	bottom: 0px;
	right: 0px;
}


.white3 {
	background-color: white;
	position: fixed;
	width: 75%;
	height: 25%;
	border-top: 25px solid black;
	bottom: 0px;
	right: 0px;
}


.white4 {
	background-color: white;
	position: fixed;
	width: 10%;
	height: 12%;
	border-top: 25px solid black;
	bottom: 119px;
	border-left: 25px solid black;
	right: 0px;
}

